body {
    background-color: #cccccc;
   }

h1 {
     color: rgb(0, 0, 48);
   }

#videoBG{
     position:fixed;
     z-index:-1;
   }

p {
    background-color: blue;
}

.s{
    font-family: 'Courier New', Courier, monospace;
}

@media (min-aspect-ratio: 16/9) {
       #videoBG {
           width:100%;
           height: auto;
       }
   }

@media (max-aspect-ratio: 16/9) {
       #videoBG {
           width:auto;
           height: 100%;
       }
   }

